{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock %}
{% block heading %}About Us{% endblock %}
<!-- Start content -->
{% block content %}
<div class="container">
  <h2>About Us</h2>
  <div class="body-text">
    Django Weather Services was established in October 2021 in Brisbane, Australia.<br><br>

    With a passion for golf, day-trips, hiking and other travel, we found ourselves
    checking the weather constantly, and sometimes looking for the forecast/conditions
    for a campsite far from urban areas wasn't always easily available. So, our team
    decided to create our own solution and bring it to life for the world to use.<br><br>

    We are expanding our site in the future and look forward to sharing our innovations
    with our users by providing access to helpful tools that we want to use too.<br><br>

    D. Hill - <i>Managing Director</i>
  </div>
  <br><hr><br>
</div>
<!-- End content -->
{% endblock %}