{% extends 'base.html' %}
{% load static %}
{% block title %}Disclaimer{% endblock %}
{% block heading %}Disclaimer{% endblock %}
<!-- Start content -->
{% block content %}
<div class="container">
  <h2>Disclaimer</h2>
  <div class="body-text">
<p>The information provided by Django Weather Services (“we,” “us” or “our”) on  Django Weather Services (the “Site”) is for general informational purposes only. All information on the Site  is provided in good faith, however we make no representation or warranty of any kind, express or implied, regarding the accuracy, adequacy, validity, reliability, availability or completeness of any information on the Site, as infromation is sourced from third party applications, and subject to change, due to the nature of meteorological forecasting.</p>

<p>Under no circumstance shall we have any liability to you for any loss or damage of any kind incurred as a result of the use of the site, or reliance on any information provided on the site . Events, functions or plans made taking into account information gained from the use of the site, and your reliance on any information on the site, is solely at your own risk.</p>
  </div>
  <br><hr><br>
</div>
<!-- End content -->
{% endblock %}