<header width="100">
  <div class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item"><a href="/weather_app/" class="navbar-link">Home</a></li>
      <li class="navbar-item"><a href="/weather_app/about" class="navbar-link">About Us</a></li>
      <li class="navbar-item"><a href="/weather_app/future" class="navbar-link">The Future</a></li>
      <li class="navbar-item"><a href="/weather_app/feedback" class="navbar-link">Feedback</a></li>
      <li class="navbar-item"><a href="/weather_app/weather" class="navbar-link">Weather </a></li>
      <li class="navbar-item"><a href="/chat_bot/chat_bot" class="navbar-link">Chat Bot</a></li>
    </ul>
  </div>
</header>